:root {
    --max-width: 960px;
    --clr-text: #333;
    --clr-background: whitesmoke;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: min(100vh, 100%);
    width: min(var(--max-width), 100vw);
    margin: 0 auto;
    color: var(--clr-text);
    background: var(--clr-background);
}

body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
}

header, footer {
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#character-map {
    width: 100%;

    & h2 {
        text-align: center;
        margin-bottom: 1rem;
    }
}

.grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
